@import url('https://fonts.googleapis.com/css?family=B612+Mono:700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading-main{
    display: flex;
}
#dark{
    margin-top: 20px;
    margin-left: 300px;
    width: 50px;
    cursor: pointer;
}

#heading{
    margin: 20px 0px 0 180px;
    font-family: 'B612 Mono', monospace;
    font-size: 40px;
}
.user-repo{
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 500px) {
    .heading-main{
        display: flex;
    }
    #heading{
        margin: 10px 0px 0 20px;
        font-size: 25px;
    }
    #dark{
        margin-left: 10px;
        width: 100px;
    }
    .user-repo{
        display: block;
    }
}